<h1> show de la liste(ce qu'il y a dedans)</h1>

<h2><%= @restaurant_list.name %></h2>
<ul>
<% @bookmarks.each do |b| %>

  <li><h5><%= b.restaurant.name %> - <%= b.restaurant.speciality %></h5></li>

<% end %>
</ul>

<%= link_to "add restaurant",  new_restaurant_list_bookmark_path(@restaurant_list), class:"btn btn-primary" %>
<%= link_to  "restaurant index",  restaurants_path, class:"btn btn-primary" %>